<p class="text-center"><%= @question.whatif %></p>

<h1 class="text-center text-success">But:</h1>
<p class="text-center"><%= @question.but %></p>
<p style="color: #acb6c0" class="text-center">Question created by: <%= @question.author_name %></p>
<div style="width: 50%" class="center-block">
  <%= button_to 'YES', {action: 'randomquestion'}, params: {button: 'yes', lastquestion: @question.id}, :class => 'btn btn-success btn-lg col-md-6' %>
  <%= button_to 'NO', {action: 'randomquestion'}, params: {button: 'no', lastquestion: @question.id}, :class => 'btn btn-danger btn-lg col-md-6' %>
</div>

<br/><br/><br/><br/><br/>
<% unless @lastquestion.nil? %>
    <div style="border solid crimson" class="text-center field">
      <p class="text-center">Last question:</p>
      <p class="text-center"><%= @lastquestion %></p>
      <p class="text-center"><%= @commonpercent %> </p>
    </div>
<% end %>
