<div style="display: table" class="center-block">
  <div style="border-bottom: 1px solid #18BC9C;margin-top: 10%;margin-bottom:1%;" class="center-block"></div>
  <br><br>
  <h1 class="header text-center">Question # <%= @question.id %> </h1>
<p>
  <strong>Total taken:</strong>
  <%= @question.total_taken %>
</p>

<p>
  <strong>What if:</strong>
  <%= @question.whatif %>
</p>

<p>
  <strong>But:</strong>
  <%= @question.but %>
</p>

<p>
  <strong>Yes:</strong>
  <%= @question.yes %>
</p>

<p>
  <strong>No:</strong>
  <%= @question.no %>
</p>

<p>
  <strong>Total taken:</strong>
  <%= @question.total_taken %>
</p>

<p>
  <strong>ID:</strong>
  <%= @question.id %>
</p>

<p>
  <strong>Author:</strong>
  <%= @question.author_name %>
</p>

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
</div>