<div style="display: table" class="center-block">
  <div style="border-bottom: 1px solid #18BC9C;margin-top: 10%;margin-bottom:1%;" class="center-block"></div>
  <br><br>
    <p>
      <strong>Name:</strong>
      <%= @user.name %>
    </p>

    <p>
      <strong>Answered:</strong>
      <%= @user.answered %>
    </p>

    <p>
      <strong>Percent of answers are normal:</strong>
      <% if @user.answered == 0 %>
          <%= '0%' %>
      <% else %>
          <% common = (@user.common.to_f/@user.answered) * 100 %>
          <%= ('%.0f' % common).to_s + '%' %>
      <% end %>
    </p>

    <p>
      <strong>Picture:</strong><br/>
      <%= image_tag(@user.picture, height: "260") %>
    </p>

    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Back', users_path %>
  </div>