<!DOCTYPE html>
<html>
<head>
  <!-- HELLO YOU MORBIDLY CURIOUS HUMAN BEING. WHAT YOU JUST DID CANNOT BE UNDONE. BY READING THIS SOURCE CODE, YOU
    HAVE ALTERED THE COARSE OF TIME, REVERTING ALL DIGESTION SYSTEMS OF ALL HUMAN BEINGS. HAVE FUN. -->
  <title>Whatif</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag 'bootstrap', media: 'all', 'data-turbolinks-track' => true%>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true%>
  <%= csrf_meta_tags %>
</head>
<body style="background-color: #DADADA;">

<div class="container " style="background-color: #ffffff">

  <%= render 'commons/menu' %>
  <%= render 'commons/alerts'%>
  <h1 class="text-center text-success">What if..</h1>
  <%= yield %>
  <%= render 'commons/footer' %>
</div>

</body>
</html>
